<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\TCRB_Log\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File"
				name="allfile"
				fileName="${basedir}\logs\${uppercase:${level}}\${date:format=yyyy-MM-dd}\${uppercase:${level}}-${date:format=yyyyMMdd HH}.log"
				layout="${longdate}|${uppercase:${level}}|url=>${aspnet-request-url}|${logger}|UserLogin:${gdc:item=empcode}|${message}, ${exception:format=tostring}"
				archiveAboveSize="5242880"
				encoding="UTF-8"/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--<logger name="*" writeTo="allfile" />-->
		<logger name="*" levels="Info,Error" writeTo="allfile"/>
		<!--<logger name="*" levels="Debug" writeTo="allfile"/>-->
		<!--<logger name="*" levels="Error" writeTo="allfile"/>-->
	</rules>
</nlog>
